.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: 50px;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    
    gap: 60px;
    font-size: 20px;

   
}
.nav-contact{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(17deg, rgba(215, 62, 167, 0.06), hsla(211, 74%, 65%, 0.03));
    font-size: 22px;
    cursor: pointer;
    transform: 0.6s;
}
.nav-contact:hover{
    transform: scale(1.06);
}
.nav-menu li{
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}